body{

}
img{
	border: 5px solid blue;
	height: 50%;
	width: calc(50%-20%);
	padding: 5%;
	display:inline-block;
	

}
.otherImage{
	border: 5px solid blue;
	height: 50%;
	width: calc(50%-20%);
	padding: 5%;
	display:inline-block;
	

}