body{

}
img{
	border: 10px solid blue;
/*	height: 50%;*/
	width: 50%;
	padding: 5%;
	display:inline-block;
	

}
.otherImage{
	border: 10px solid blue;
/*	height: 50%;*/
	width: 50%;
	padding: 5%;
	display:inline-block;
	

}