<header class="header">
	<nav id="top-nav" class="top-nav">
		<a class="link" href="index.html"><img alt="Succulent Store" src= "Images/logo.PNG" class= "nav-logo"></a>
		<div class="nav-links">
      {% for link in navlinks %}
        	<a class="nav-link {% if page.url == '/'+link.url %}current-page{% endif %}" href="{{link.url}}" tabindex="0">{{link.name}}</a>
      {% endfor %}
		</div>
	</nav>
	<div class="page-header">
		<h1 class="header-title">Mackenzie's <br> Succulents</h1>
		<p class="header-caption">Here be succulents</p>
	</div>
</header>
