/*@import url('https://fonts.googleapis.com/css?family=Limelight|Nanum+Gothic+Coding');

*{
  font-family: "Nanum Gothic Coding", monospace;
}
*/
body {
  background-color: rgba(52,63,82,0.7);
  color: white;
}

legend, h2, h4 {
  font-weight: bold;

}