.main-content-home{
	margin-top: 150px;
	margin-right: 275px;
		background-color: rgba(52,63,82,0.7);
  color: white;
}/*/*/*
.home-flag{
/*	background-color: #17BEBB;
	color: #DDDDDA;*/
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: auto;
	padding: 1.5em;
	background-color: rgba(52,63,82,0.7);
  color: white;
}
/*	box-shadow: 0px 8px 10px gray, -10px 8px 15px gray, 10px 8px 15px gray;
