
@media only screen and (min-width: 800px){

body{
  background-image: url("../Images/succ.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
	margin: 0px;
  background-color: #f4f4f4;
  /*background-size: 100%;*/
}

.page-header{
  /*background: #3e5151; 
  background: -webkit-linear-gradient(to right, #3e5151, #decba4);
  background: linear-gradient(to right, #3e5151, #decba4);*/
  background-image: url("../Images/succulent logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-height: 100%;*/
  /*background-attachment: fixed;*/
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 5%;
}

.header-title{
	color: #101010;
	font-family: helvetica;
	font-weight: 100;
}

.header-caption{
	color: #101010;
	font-family: helvetica;
	font-weight: 100;
}
.content{
  padding: 2em;
	font-family: sans-serif;
}
.top-nav{
	padding: .75em;
	background-color: black;
	width: 100%;
  	box-sizing: border-box;
	margin: 0px;
}
.nav-title {
	display: inline;
	color: white;
	font-family: sans-serif;
	font-weight: normal;
	text-decoration: none;
}
.nav-logo{
    min-width: auto;
    max-height: 100%;
}
.nav-links {
	display: inline;
	margin-left: 1em;
	float: right;
	margin-top: 1em; 
}
.nav-link {
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	padding-left: .5em;
	padding-right: .5em;
	font-family: sans-serif;
}
.link {
	color: inherit;
	text-decoration: inherit;
}
.current-page{
	border-radius: 5px;
	background-color: orange;
	color: blue;
	font-weight: bolder;
}

.footer{
	background-color: #000000;
	padding-left: 5%;
	padding-right: 5%;
}

.footer-content{
	width: 100%;
	font-family: helvetica;
	color:white;
}
.footer-column{
	width:33%;
	/* padding-left:2em; */
	text-align: center;
}
.footer-link {
  color: grey;
	font-weight: bold;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  color: black;
}
/*body{
  background-image: url("../Images/succ.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}*/
}