body{
  background-image: url("../Images/succ.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
	margin: 0px;
  background-color: #f4f4f4;
}

.link {
	color: inherit;
	text-decoration: inherit;
}
.current-page{
	border-radius: 5px;
	background-color: orange;
	color: blue;
	font-weight: bolder;
}
.footer{
	background-color: #000000;
	padding-left: 5%;
	padding-right: 5%;
}

.footer-content{
	width: 100%;
	font-family: helvetica;
	color:white;
}
.footer-column{
	width:33%;
	text-align: center;
}
.footer-link {
  color: gray;
	font-weight: bold;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-link:hover{
	text-decoration: underline;
}

.footer-link:active {
  color: black;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.content-image{
	width:300px;
}
.header-title{
	word-wrap: break-word;
}
@media only screen and (min-width: 800px){
	.page-header{
	  background-image: url("../Images/succulent logo.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	  padding-top: 15%;
	  padding-bottom: 15%;
	  padding-left: 5%;
	}
	.header-title{
		color: #101010;
		font-family: helvetica;
		font-weight: 100;
		font-size: 3em;	}
	.header-caption{
		color: #101010;
		font-family: helvetica;
		font-weight: 100;
	}
	.content{
	  padding: 2em;
		font-family: sans-serif;
	}
	.top-nav{
		padding: .75em;
		background-color: black;
		width: 100%;
	  	box-sizing: border-box;
		margin: 0px;
	}
/*	.nav-title {
		display: inline;
		color: white;
		font-family: sans-serif;
		font-weight: normal;
		text-decoration: none;
	}*/
	.nav-logo{
	    min-width: auto;
	    max-height: 100%;
	}
	.nav-links {
		display: inline;
		margin-left: 1em;
		float: right;
		margin-top: 1em; 
	}
	.nav-link {
		color: white;
		font-size: 1.5em;
		text-decoration: none;
		padding-left: .5em;
		padding-right: .5em;
		font-family: sans-serif;
	}
	.content-image {
		width:300px;
	}
}
@media only screen and (max-width: 800px){

	/*.page-header{
	background: #cedce7; 
	background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%);  FF3.6-15 
	background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%);
	background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%); 

	  padding-top: 15%;
	  padding-bottom: 15%;
	  padding-left: 5%;
	}*/
	.header-title{
		color: white;
		font-family: helvetica;
		font-weight: 100;
		/*display: none;*/
	}
	.header-caption{
		color: white;
		font-family: helvetica;
		/*display: none;*/
	}
	.content{
	  padding: 2em;
		font-family: sans-serif;
	}
	.top-nav{
		padding: .75em;
		background-color: black;
		width: 100%;
	  	box-sizing: border-box;
		margin: 0px;
	}
	.content-image{
		width: 90%;
	}
/*	.nav-title {
		display: block;
		color: white;
		font-family: sans-serif;
		font-weight: normal;
		text-decoration: none;*/
	}
	.nav-logo{
	    min-width: auto;
	    max-height: 100%;
		float: center;
	}
	.nav-links {
		display: block;
		width:100%;
	}
	.nav-link {
		border-top: 1px solid red;
		display: block;
		width: 100%;
		color: white;
		font-size: 1.5em;
		text-decoration: none;
		padding: .5em;
		font-family: sans-serif;
	}

	.footer-title{
		display: none;
	}
}